<h1>Create an account for free</h1>
<form>
  <div class="form_start">
    <input type="text" name="firstname" placeholder = "First name" class="first_name">
    <input type="text" name="lastname" placeholder = "Last name" class="last_name">
    <br>
  </div>
  <input type="text" name="emailId" placeholder = "EmailID" class="email_id"><br>
  <input type="text" name="password" placeholder = "Password" class="password">
    <br><br>
    <input type="submit" value="Submit">

  <br>
  <br>

  <h6>By clicking Create an account, you agree to our Terms and confirm that you have read our Data Policy,
    including our Cookie Use Policy. You may receive SMS message notifications from Facebook and can opt out at any time</h6>
  <br>
  <button class="create_account">Create an account</button>
</form>
